{
  "RATE_LIMIT_EVERYONE": 28800,
  "CHAT_WHITELIST": [],
  "COMMAND_PREFIX": "/",
  "BLACKLIST": [],
  "BOT_ADMINS": [],
  "API_PORT": 3000,
  "API_KEY": "abcd1234",
  "groups": {
    "EXAMPLE": {
      "members": [],
      "owner": "system",
      "created": "2022-08-31T10:02:00.707Z",
      "joinable": false,
      "leavable": true,
      "pingable": true,
      "visible": true
    }
  },
  "welcome_messages": [
    "Just hopped onto the group!",
    "Welcome to the party"
  ],
  "rateLimit": {}
}